.App {
  background-color: black;
  height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  position: absolute;
  left: 50%;
  top: 20%;
  height: 70%;
  margin-top: -100px; /* half of you height */
  width: 400px;
  margin-left: -200px ;
  background-color: white;
}
.content{
  width:90%;
  margin:auto;
  margin-top:20%;
}
.grey{
  color:grey;
}
.add{
  margin-top: 10%;
  margin-left:40%;
  margin-right:40% ;
}